<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- Version 8 MySQL hiberante-cfg.xml example for Hibernate 5 -->
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sakila</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">password</property>
        <property name="connection.pool_size">3</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>

        <mapping class="se.sakilagui.Model.FilmEntity" />
        <mapping class="se.sakilagui.Model.LanguageEntity" />
        <mapping class="se.sakilagui.Model.CategoryEntity" />
        <mapping class="se.sakilagui.Model.FilmCategoryEntity" />
        <mapping class="se.sakilagui.Model.FilmActorEntity" />
        <mapping class="se.sakilagui.Model.InventoryEntity" />
        <mapping class="se.sakilagui.Model.StoreEntity" />
        <mapping class="se.sakilagui.Model.ActorEntity" />
        <mapping class="se.sakilagui.Model.AddressEntity" />
        <mapping class="se.sakilagui.Model.StaffEntity" />
        <mapping class="se.sakilagui.Model.CityEntity" />
        <mapping class="se.sakilagui.Model.CountryEntity" />
        <mapping class="se.sakilagui.Model.FilmTextEntity" />
        <mapping class="se.sakilagui.Model.RentalEntity" />
        <mapping class="se.sakilagui.Model.CustomerEntity" />
        <mapping class="se.sakilagui.Model.PaymentEntity" />


    </session-factory>
</hibernate-configuration>